# Ignore emacs temp files
*~

# Ignore Isabelle temp files
*.thy#
*.aux
*.log
*.out
*.toc

# Ignore Scala class files
*.class

# Ignore platform specific sbt stuff
inference-tool/project/target/
inference-tool/project/project
inference-tool/target/

# Ignore Isabelle output
formal/output/

# ignore output files
inference-tool/salfiles*
inference-tool/dotfiles*

output
