[submodule "inference-tool/src/main/java/mintframework"]
	path = inference-tool/src/main/java/mintframework
	url = git@github.com:jmafoster1/mintframework.git
[submodule "formal/efsm-isabelle"]
	path = formal/EFSM
	url = git@github.com:jmafoster1/efsm-isabelle.git
