# Ignore emacs temp files
*~

# Ignore Isabelle temp files
*.thy#
*.aux
*.log
*.out
*.toc

# Ignore Scala class files
*.class

# Ignore active.json
inference-tool/project/target/
inference-tool/target/

# Ignore Isabelle output
formal/output/

# Ignore dotfiles
*.dot
*.png

# ignore sal files
inference-tool/salfiles/
